header {
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

#navbar {
    width: 500px;
    float: left;
    max-height: 100%;
}

#navbar > ul {
    display: flex;
    flex-direction: column;
}

#navbar > ul > a {
    width: 100%;
    text-decoration: none;
    padding: 20px 10px;
    font-size: 25px;
    float: left;
    margin-left: -40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    background-color: lightgray;
    text-align: center;
}

#navbar > ul > a:hover {
    color: white;
    background-color: darkgray;
}

#main-doc {
    width: 50%;
    float: left;
    border-left: 2px solid black;
    padding-left: 40px;
    padding-bottom: 40px;
}

section {
    margin-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

p {
    font-size: 20px;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }

.code {
    background-color: #f1f1f1;
    padding: 10px 10px;
}

.material-icons {
    float: left;
    margin-right: 10px;
    font-size: 45px !important;
}
